<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
.delete{
    background-color: #f44336;
    padding: 5px 5px;
}
.taskfont{
    color: fuchsia;
    text-decoration: none;
    font-size: 30px;
}
.complete{
font-size: 30px;
}
</style>
</head>
<body>
    <div>
        <a class="button" href="add/">Add Me</a>
    </div>
    <div>
    <div>
        {% for mytask in object_list %}
            <div style="display:flex">
                <span>
                    <li>
                        <a class="taskfont" href="{% url 'task-update' mytask.id %}">{{ mytask.name }}</a>
                    </li>
                </span> 
                <span style="padding:0px 10px">
                    <a class="button delete" href="{% url 'task-delete' mytask.id %}">Delete</a>
                </span>
                {% if mytask.completed %}   
                    <span class="complete" style="padding:0px 10px">
                        Completed
                    </span>
                {% endif %} 
            </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>